 <form  action="" method="post">
Enter the string<input name="message" type="text" id="t1"  > 
<button id="rv">Submit</button>
<!--  <button id="up">Uppercase</button><button id="lc">Lwercase</button><button id="cap">Capitalize</button>
 --></form>
