 <form  action="" method="post">
String reverse: <input name="reverse" type="text" id="t1" value ="<%= @rev.reverse %>" > <br>
String Upper: <input type="text" id="t2" value ="<%= @rev.upcase %>" > <br>
String Lower: <input type="text" id="t3" value ="<%= @rev.downcase %>" > <br>
String Capitalize: <input type="text" id="t4" value ="<%= @rev.capitalize %>" > <br>

<!-- <button id="rv">Reverse</button> <button id="up">Uppercase</button><button id="lc">Lowercase</button><button id="cap">Capitalize</button>
 --></form>


